@media only screen and (max-width: 1199px) {
  .header-nav {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 992px) {
  .main-menu-wrapper {
    margin-left: auto;
  }

  .main-nav > li {
    margin-right: 30px;
  }
  .main-nav > li:last-child {
    margin-right: 0;
  }
  .main-nav li {
    display: block;
    position: relative;
  }
  .main-nav > li > a {
    line-height: 85px;
    padding: 0;
  }

  .main-nav > li > a > i {
    font-size: 12px;
    margin-left: 3px;
  }
  .main-nav li > ul {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-size: 14px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    visibility: hidden;
    opacity: 0;
    z-index: 999;
  }
  .main-nav li.has-submenu:hover > .submenu {
    visibility: visible;
    opacity: 1;
  }
  .main-nav li .submenu a:hover {
    padding-left: 20px;
    color: #f26438;
    letter-spacing: 0.5px;
  }

  .main-nav .has-submenu.active > a {
    color: #f26438;
  }
  .main-nav > li .submenu li:first-child a {
    border-top: 0;
  }
}

@media only screen and (max-width: 991.98px) {
  .main-nav {
    flex-direction: column;
    margin-bottom: 0;
    padding-left: 0;
  }
  .main-nav li {
    display: none;
  }

  .main-nav > li {
    margin-left: 0;
  }
  .main-nav > li > a {
    padding: 15px 20px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  .main-nav .header-btn {
    margin: 0;
  }
}
