@media only screen and (max-width: 1199px) {
  .header-nav {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 992px) {
  .main-menu-wrapper {
    margin-left: auto;
  }

  .main-nav > li {
    margin-right: 30px;
  }
  .main-nav > li:last-child {
    margin-right: 0;
  }
  .main-nav li {
    display: block;
    position: relative;
  }
  .main-nav > li > a {
    line-height: 85px;
    padding: 0;
  }

  .main-nav > li > a > i {
    font-size: 12px;
    margin-left: 3px;
  }
  .main-nav li > ul {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-size: 14px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    visibility: hidden;
    opacity: 0;
    z-index: 999;
  }
  .main-nav li.has-submenu:hover > .submenu {
    visibility: visible;
    opacity: 1;
  }
  .main-nav li .submenu a:hover {
    padding-left: 20px;
    color: #f26438;
    letter-spacing: 0.5px;
  }

  .main-nav .has-submenu.active > a {
    color: #f26438;
  }
  .main-nav > li .submenu li:first-child a {
    border-top: 0;
  }
}

@media only screen and (max-width: 991.98px) {
  .main-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 260px;
    background-color: #f26438;
    transform: translateY(85px);
    -webkit-transform: translateY(85px);
    -moz-transform: translateY(85px);
    -ms-transform: translateY(85px);
    -o-transform: translateY(85px);
    z-index: 10;
  }

  .main-nav ul {
    /* display: none; */
    margin: 0;
    padding-left: 0;
    background-color: #f26438;
    list-style: none;
  }
  .main-nav > li {
    margin-left: 0;
    border-bottom: 1px solid #f1f1f1;
  }

  .main-nav > li.active > a {
    color: #fff;
  }

  .main-nav > li > a {
    padding: 15px 20px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  .main-nav > li .submenu li a {
    border-top: 0;
    color: #fff;
    padding: 10px 15px 10px 35px;
  }
  .main-nav li .submenu a:hover {
    padding-left: 45px;
    color: #f1f1f1;
    letter-spacing: 0.5px;
  }
  .main-nav > li .submenu ul li a {
    padding: 10px 15px 10px 45px;
  }
  .main-nav .header-btn {
    margin: 30px 20px;
    text-decoration: underline;
  }
  .main-nav .header-btn:hover {
    text-decoration: none;
  }
}

@media only screen and (max-width: 575.98px) {
  .header-nav {
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-nav .header-btn {
    width: 220px;
    margin: 30px auto;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
}
